/*style all elements*/
* {
	box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url("beer-bg.png");
}

/*style header text*/
h1 {
	padding-top: 20px;;
	height: 80px;
	font-family: 'Big Shoulders Text', cursive;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 60pt;
	color: #000000;
	text-align: center;
}

.searchSection {
	margin-top: 60px;
	height: 80px;
	width: 100%;
}

.directions {
	font-family: 'Big Shoulders Text', cursive;
	font-weight: 300;
	font-size: 30px;
	color: #000000;
	text-transform: uppercase;
}

.searchBox {
	margin-top: 40px;
	border-style: solid;
	border-color:  #000000;
	height: 40px;
	width: 150px;
	border-width: 2px;
	text-transform: uppercase;
}

.resultsSection {
	margin-top: 100px;
	background-color: white;
	text-align: center;
	width: 100%;
	min-height: 150px;
	margin-right: auto;
	margin-left: auto;
}

.subTitle {
	font-family: 'Big Shoulders Text', cursive;
	font-weight: 300;
	font-size: 30px;
	color: #000000;
	text-transform: uppercase;
}
